*{
	margin:0 auto;
}

html,body{
	min-width:760px;
	overflow:auto;
}

.clear{
	clear: both;
}

.char{
	position: fixed;
	float:left;
	height: 100%;
	width: 200px;
	background-color: rgba(160,200,160,0.9);
}

.table{
	border-collapse:collapse;
	margin-top:5px;
}

.table img{
	margin: 2px;
}

.table th{
	font-size:1.2em;
}

.table span{
	font-size:0.8em;
}

/**스테이터스**/

.status{
	margin-lefT:205px;
}

.status li h2{
	margin-top:15px;
}

.status li div{
	padding:3px;
	float:left;
	margin-top:10px;
	width: 90%;
}

.status li p{
	padding-left:7px;
}

.title{
	font-size:1.2em;
	font-weight:bold;
	padding: 3px;
}

.skill{
	font-weight:bold;
}

.posi{
	background-color: rgba(180,250,180,0.8);
}

.nega{
	background-color: rgba(250,180,180,0.8);
}

.tip{
	background-color: rgba(180,250,250,0.8);
}